body {
  font-size: 16px;
  background: #f3f3f3;
  margin: 1px 0px 0px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.035em;
  margin: 0px 0px 10px 0px;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
img,
p,
a {
  margin: 0px;
}
a {
  color: #f44236;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #f44236 !important;
}
button {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0px;
  background: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
.header-content,
.body-content,
.footer-content {
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header-section {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: auto;
  padding: 18px 0px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.platform-logo {
  width: auto;
  max-width: 250px;
  height: auto;
  max-height: 50px;
}
.header-nav .nav-icon {
  color: #414141;
  font-size: 1.5em;
  margin: 0px 8px;
}
.header-nav .nav-icon:hover {
  color: #f44236;
}
.body-root {
  min-height: 85.3vh;
}
.body-section {
  padding: 25px 0px;
}
.body-content {
  display: flex;
}
.sidebar {
  width: 27%;
  min-width: 200px;
  height: auto;
}
.main {
  width: 73%;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.sidebar-menu .menu-item {
  color: #414141;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
  max-width: 180px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}
.sidebar-menu .menu-icon {
  font-size: 1.2em;
  text-align: center;
  width: 35px;
  margin-right: 12px;
}
.main-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 25px 30px;
  margin-bottom: 15px;
}
.footer-section {
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  height: auto;
  padding: 20px 0px;
}
.footer-container.msh-power {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container.msh-power p {
  font-size: 0.9em;
  text-transform: uppercase;
  padding-right: 7px;
}
.msh-logo {
  width: auto;
  max-width: 150px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  button {
    font-size: 0.9em;
  }
  .header-content {
    justify-content: center;
  }
  .platform-logo {
    max-width: 225px;
  }
  .header-nav {
    display: none;
  }
  .body-root {
    min-height: 74.5vh;
  }
  .body-section {
    padding: 15px 0px;
  }
  .body-content {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .sidebar-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2px;
  }
  .sidebar-menu .menu-item {
    width: 48%;
    margin-bottom: 15px;
  }
  .sidebar-menu .menu-icon {
    margin-right: 6px;
  }
  .main-container {
    padding: 15px 20px;
    margin: 0px -16px 15px;
    border-radius: 0px;
  }
}
/*END GENERAL CSS FOR BACKEND*/
/*START CSS FOR CREATE BLOG PAGE*/
form {
  padding-top: 10px;
}
label {
  display: block;
  font-size: 0.9em;
  padding-bottom: 5px;
}
input,
textarea,
select {
  font-size: 0.9em;
  width: 100%;
  margin: 0;
  padding: 10px 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input,
select {
  height: 40px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.form-field {
  margin-bottom: 14px;
}
.form-field.short input,
.form-field.short select,
.form-field.short textarea {
  max-width: 250px;
}
.form-field.medium input,
.form-field.medium select,
.form-field.medium textarea {
  max-width: 450px;
}
input[type="checkbox"] {
  height: 20px;
  width: 20px;
}
.form-field.checkbox {
  display: flex;
}
.form-field.checkbox label {
  padding: 1px 0px 0px 3px;
}
input[readonly] {
  background: #f3f3f3;
}
button.publish,
button.update {
  background: black;
  border-color: black;
  color: white;
}
.new-post-actions,
.edit-post-actions {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
}
.new-post-actions button,
.edit-post-actions button {
  font-size: 0.9em;
  height: 40px;
  padding: 5px 15px;
  margin-right: 6px;
}
.text-form {
  flex: 1;
}
.images-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#output {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 12px 0;
}
.review {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 12px;
  margin-top: 12px;
  border: 1px solid #c0c0c0;
}
.image-container {
  position: relative;
}
.delete-btn {
  position: absolute;
  top: 19px;
  right: 20px;
  font-weight: 900;
  cursor: pointer;
  background-color: #5015f0;
  border-radius: 50%;
  padding: 0 6px;
}
#input {
  display: flex;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
}
