.container_admin {
    width: 100%;
    position: relative;
}
.content_Admin {
    position: absolute;
    height: 3rem;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}
.content_Admin span {
    font-size: 1.2rem;
    display: block;
    line-height: 3rem;
}
.content {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    height: 80%;
    top:5%;
}