* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.side-nav{
    padding-left: 40px;
    padding-right: 10px;
}
.content_Admin>h3 {
    margin-top: 20px;

}
.content_Admin{
    width: 90%;
    margin-left: 30px;

}
.btn_detail:hover, .btn_edit:hover, .btn_delete:hover{
    background-color: #a09f9f; 
    border-radius: 6px;

}

.btn-add, .btn-del{
    background: white;
    border-radius: 6px;
    padding: 5px 10px;
    border: 3px solid pink;
}
.btn-del{
    text-decoration: none;
    color: black;
    
}
.btn-add:hover{
    background-color: pink;
    color: black;
}
.btn-del:hover{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: pink;
}

table, td, th {  
    text-align: left;
    align-items: center;
    padding: 10px;
  }
#customers{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 18px; 
    
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th{
    background-color: white;
}
.Pagination{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
    color: black;
    position: fixed;
    bottom: 0;
   
}
 a>.page-link{
    color: black;
 }

.icon_thaotac {
    display: flex;
    align-items: center;
}
.item_edit:last-child {
    margin-top: 4px;
}
ul, li {
    list-style: none;
  }

  form>label{
    font-weight: bolder;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 10%;
    font-size: 17px;

  }
  #CatName{
    border-radius: 6px;
    margin-left: 3px;
  }

  .Addbtn{
    margin-left: 75%;
    margin-top: 8px;
    padding: 5px 7px;
    border-radius: 6px;
    background-color: white;
    color: black;
    border: 3px solid pink;
  }
  .Addbtn:hover{
    background-color: pink;
    color: black;
  }