.modal-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Nội dung modal */
.modal-content-popup {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 4px;
}

.text-modal {
    font-size: 18px;
}

.list-btn {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    padding: 4px 8px;
    margin: 0 4px;
    font-weight: 600;
}

.delete {
    background-color: red;
    color: white;
}

.modal-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Nội dung modal */
.modal-content-popup {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 4px;
}

.modal-popup.show {
    display: block;
    z-index: 10;
}

.text-modal {
    font-size: 18px;
}

.list-btn {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    padding: 4px 8px;
    margin: 0 4px;
    font-weight: 600;
}

.delete {
    background-color: red;
    color: white;
}