* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
}
h3 {
    width: 100%;
    height: 70px;
    text-align: center;
    /* background-color: pink; */
    font-weight: 600px;
    font-size: 20px;
}
#customers th{
    background-color: white;    
    color: black;
}
#customers th, #customers td{
border: none;
}
.back a {
   
    margin-top: 12px;
    border-radius: 6px;
    border: pink solid 3px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    color: black;

}

.back a:hover,.back a:active {
    background-color: pink;
    box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 5px 15px;
    text-decoration: none;
    color: black;
}
.pagination a{
    /* margin-left: 70%; */
    margin-top: 12px;
    border-radius: 6px;
    border: pink solid 3px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    color:black;
    
}
.pagination a:hover {
    background-color: pink;
    /* background-color: black; */
    box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 5px 15px;
    text-decoration: none;
    color: black;
}
.loadback{
    display: flex;
    
}
/* .back,.load{
    width: 50%;
    
} */
.load{
    position: fixed;
    right: 0;
    bottom: 0;
}
.back{
    position: fixed;
    left: 0;
    bottom: 2px;
    margin-bottom: 12px;
}
.btn:hover{
    background-color: #a09f9f; 
 
 }
 .content_Admin{
    margin-bottom: 28px;
 }
 