#customers th {
    background-color: white;

    color: black;

}

#customers {
    margin-top: 15px;
}

.btn-add:link,.btn-add:visited,
.btn-delete:link,
.btn-delete:visited {
    background-color: white;
    color: black;
    border: 3px solid pink;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
}

.btn-add:hover,
.btn-add:active,
.btn-delete:hover,
.btn-delete:active {
    color: black;
    background-color: pink;
}

#customers td,
#customers th {
    border: none;
    padding: 10px;
}

.content_Admin {
    padding-left: 20px;
    width:calc(100% - 278px);

}
.content_Admin_List{    
    width: 97% !important;
    margin-left: 50px;
}
.Pagination{
    position: relative;
}
.btn:hover{
   background-color: #a09f9f; 

}