* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    

}

body {
    width: 100vw;
    height: 100vh;
}

.details {

    width: 100%;
    margin-top: 2%;
    margin-left: 20%;
    /* border:#ff844f solid 2px */
}

.details>div {
    width: 100%;
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.details>div .label {
    width: 18%;
    font-weight: 500;
}

.details>div .content {
    width: 70%;
}
.Input,
#category {
    padding: 8px 200px 8px 10px;
    box-shadow: rgba(0.2, 0.2, 0.2, 0.2) 0px 5px 15px;
    border: none;
}
.back button {
    /* margin-left: 10%; */
    margin-top: 12px;
    border-radius: 6px;
    border: pink solid 3px;
    padding: 10px 20px 10px 20px;
    background-color: white;

}

.back button:hover {
    background-color: pink;
    box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 5px 15px;
}
.load button{
    /* margin-left: 70%; */
    margin-top: 12px;
    border-radius: 6px;
    border: pink solid 3px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    
}
.load button:hover {
    background-color: pink;
    box-shadow: rgba(0.3, 0.3, 0.3, 0.3) 0px 5px 15px;
}
.loadback{
    display: flex;
}
.back,.load{
    width: 50%;
}

