.imgs {
    margin: 0 2px;
}
.imgProduct {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.img_product {
    display:block;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }


  