* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

p{
    background-color: pink;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.btn_detail{
    color: black;
    padding: 5px 10px;
    float: left;
}
.btn_khoiphuc{
    color: black;
    padding: 5px 10px;
}
.btn_detail:hover, .btn_khoiphuc:hover{
    background-color: #a09f9f; 
    border-radius: 6px;
} 

table, td, th {  
    justify-content: center;
    padding: 10px;
}

td,th{
    
}

#customers{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: 18px; 
    margin-top: 4%;
    
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th{
    background-color: white;
}


.icon_thaotac {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_back{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    padding: 5px 12px;
    background-color: white;
    text-decoration: none;
    border: 3px solid rgb(245, 47, 129) ;
    border-radius: 15%;
    color: black;
    font-size: 20px;
}
.btn_back:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(199, 26, 55);
}

