*{
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.label{
    font-weight: 600;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
    background-color: pink;
}
body{
    width:100vw;
    height:100vh;
}
.header{
    width: 100%;
    height:50px;
    display: flex;
    background-color: #ff844f;
}
.header .back{
    width:10%;
    height: 100%;
}
.header .back button{
    width: 40%;
    height: 60%;
    margin-top:8px;
    margin-left: 10px;
    border: gray solid 1px ;
    border-radius: 4px;
}
.header .back button:hover{
    background-color: pink;
}
.header .tag{
    margin-left: 32%;
    margin-top: 8px;
}
.infor{
    width: 100%;
    height: 95%;
    margin-top: 20px;
}
.infor .date ,
.infor .status{
    width: 22%;
    display: flex;
    margin-left: 40%;
}
.date .label,.status .label{
    width:120px;
    height: 100%;
}
.details{
    width: 90%;
    height: auto;
    margin-left: 4%;
    margin-top: 10px;
}
p{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top:10px;
    font-weight: 600;
}
.details>div{
    width: 90%;
    height: 70px;
    border-bottom:#ff844f solid 1px;
    margin-left: 5%;
}
.details>div .name{
    display: flex;
    margin-top: 10px;
}
.details>div .number-money{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
} 
.number-money .number{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.number-money .number .label{
    width:36%;
}
 .plus,.except,.delete{
    width: 10%;
 }
 .plus button ,
 .except button,
 .delete button{
    width: 100%;
    border-radius: 4px;
    outline:none;
    border: gray solid 1px;
 }
.number-money .money{
    width:16%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.sum-money{
    margin-top: 20px;
}
.sum-money{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30%;
}
.sum-money .label{
    margin-right: 1.5%;
}
.sum-money .content{
    margin-right: 8px;
}
.purchase-btn{
    width: 20%;
    height:50px;
    margin-left: 40%;
    margin-top: 20px;
}
.purchase-btn button{
    width: 100%;
    height:100%;
}