*{
    padding:0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.header{
    width: 100%;
    height:50px;
    display: flex;
    background-color: #ff844f;
}
.header .back{
    width:10%;
    height: 100%;
}
.header .back button{
    width: 40%;
    height: 60%;
    margin-top:8px;
    margin-left: 10px;
    border: gray solid 1px ;
    border-radius: 4px;
}
.header .back button:hover{
    background-color: pink;
}
.header .tag{
    margin-left: 32%;
    margin-top: 8px;
}
.infor-bill{
    width: 70%;
    height: 50vh;
    border: #ff844f solid 1px;
    border-radius: 5px;
    margin-left: 14%;
    margin-top: 100px;
    text-align: center;
    padding-top: 2%;
}
.infor{
    width:90%;
    height: 50%;
}
.infor form{
    width:100%;
    height: 100%;
    margin-left: 6%;
}
.infor form>div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.label{
    font-weight: 600;
    font-size: 16px;
}
.content{
    width:80%;
    height:30px;
}
.content input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border:gray solid 1px;
    border-radius: 4px;
}
.submit{
    margin-left: 36%;
}
.submit input{
    width: 30%;
    height:40px;
}
.submit input:hover{
    background-color: pink;
    cursor: pointer;
    border: gray solid 1px;
    outline: none;
}